.contenedor-ayuda {
    background-image: url(img/pexels-1.jpg);
    background-size: cover;
    background-position: 50% 70%;
    padding: 5px 0;
    text-align: right;
    height: 100%;
    padding-bottom: 2rem;
}
.seccion-ayuda {
    padding: 6rem;
    margin: 0px 40px;
    text-align: justify;
    border: 1px solid var(--color-tercero);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-tercero);
    margin: 0 20px;
    @media (max-width: 700px) {
        padding: 2rem;
        margin: 2rem;
    }
}
.titulo-ayuda {
    text-align: center;
}
.nombre-ayuda {
    font-weight: 700;
    margin: 20px 0;
    text-decoration: underline;
}
.texto-ayuda {
    font-weight: 300;
    margin-top: 10px;
}
.mail-ayuda {
    margin-top: 20px;
    text-align: center;
}
