.carousel-header {
    height: 120px;
    color: black;
}

.carousel-header img {
    object-fit: cover;
    height: 120px;
    width: 100%;
}

.carousel-caption {
    text-align: center;
    color: #0a0a0a;
}

.carousel-caption h3 {
    font-size: 2.5rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}
