.carousel-header {
    height: 100px;
    color: black;
}

.carousel-header img {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.carousel-caption {
    text-align: center;
    color: #0a0a0a;
}

.carousel-caption h3 {
    font-size: 2.5rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .carousel-header img {
        height: 100px;
    }

    .carousel-caption h3 {
        font-size: 1.8rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}
