.contenedor-home {
    background-color: var(--color-cuarto);
    color: var(--color-sexto);
    padding: 1rem 2rem;
    height: 100%;
    text-align: center;
}
.titulo-home {
    background-color: var(--color-cuarto);
    color: var(--color-sexto);
    padding-top: 4rem;
    font-weight: 200;
    text-align: center;
}
