.contenedor-home {
	padding: 1rem;
	text-align: justify;
	border: 1px solid var(--color-tercero);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--color-tercero);
}
.titulo-home {
	color: var(--color-tercero);
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
}
.fondo-home {
	background-image: url(https://blog.aconcaguafoods.cl/hs-fs/hubfs/shutterstock_760421329.png?width=1920&name=shutterstock_760421329.png);
	background-size: cover;
	background-position: 50% 70%;
	padding: 5rem 10rem;
	min-height: 90vh;
}
