.contenedor-home {
    padding: 1rem;
    text-align: justify;
    border: 1px solid var(--color-tercero);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-tercero);
    margin: 0 20px;
}
.titulo-home {
    color: var(--color-tercero);
    padding: 3rem;
    text-align: center;
    @media (max-width: 700px) {
        font-weight: 300;
        text-align: center;
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}
.fondo-home {
    background-image: url("https://images.pexels.com/photos/1640771/pexels-photo-1640771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
    height: 100%;
    padding: 20px 0;
}
