.logo-mobile {
    margin-bottom: 1rem;
    width: 70px;
    text-align: center;
}
.logo-area {
    margin: 0rem;
    text-align: center;
    cursor: pointer;
}

.logo-texto {
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-sexto);
}

.navbar-dropdown .nav-link {
    color: var(--color-sexto);
    margin-right: 10px;
}
