.container-404 {
    background-color: var(--color-cuarto);
    color: var(--color-sexto);
    text-align: center;
    padding: 8rem;
    height: 100%;
}
.btn-404 {
    background: var(--color-quinto);
    color: var(--color-tercero);
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 1rem;
}

.contenedor-notfound {
    background-image: url("https://images.pexels.com/photos/4271933/pexels-photo-4271933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: 50% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.seccion-notfound {
    padding: 6rem;
    text-align: center;
    border: 1px solid var(--color-tercero);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-tercero);
    @media (max-width: 700px) {
        width: 100%;
        padding: 1rem;
    }
}
