.galeria-favoritas {
	border-radius: 15px;
	width: 100%;
	justify-content: center;
}
.fondo-favoritas {
	background-image: url(img/pexels-9.jpg);
	background-size: cover;
	background-position: 50% 70%;
	height: 100%;
	text-align: right;
	padding-bottom: 2rem;
}
button {
	transition: all 0.3s !important ;
}
.btn-global {
	background: var(--color-sexto);
	color: var(--color-tercero);
	font-weight: 400;
	border-style: none;
	border-radius: 10px;
	width: 160px;
	padding: 10px;

	cursor: pointer;
	text-align: center;
	transition: all 0.3s;
	transition: background-color 0.3s;
	&:hover {
		transform: scale(1.03);
	}
}
.titulo-favoritas {
	text-align: center;
	padding: 3rem;
	color: var(--color-tercero);
}
.texto-favoritas {
	color: var(--color-tercero);
	text-align: justify;
	padding: 2rem 0 3rem 0;
}

.imagen-favoritas {
	display: block;
	width: 250px;
	height: 250px;
	object-fit: cover;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.contenedor-favoritas {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	width: 100%;
	margin: 10px;
	overflow: hidden;
	text-align: center;
	transition: all 0.3s;
	border: 1px solid var(--color-tercero);
	&:hover {
		transform: scale(1.02);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 8px;
	}
}

.contenedor-favoritas:hover .imagen-favoritas {
	filter: brightness(70%);
}

.contenedor-favoritas:hover .caja,
.contenedor-favoritas:hover .btn-caja {
	opacity: 1;
}
