.contenedor-reg {
    background-image: url("https://images.pexels.com/photos/4033631/pexels-photo-4033631.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    color: var(--color-sexto);
    background-size: cover;
    background-position: 50% 100%;
    text-align: center;
    padding: 1rem 2rem;
    height: 100%;
    @media (max-width: 700px) {
        padding: 1rem 0;
    }
}
