.contenedor-reg {
    background-image: url("https://images.pexels.com/photos/4033634/pexels-photo-4033634.jpeg?auto=compress&cs=tinysrgb&w=800");
    color: var(--color-sexto);
    background-size: cover;
    background-position: 50% 55%;
    text-align: center;
    padding: 1rem 2rem;
    height: 100%;
}
