.contenedor-reg {
    background-image: url(img/pexels-3.jpg);
    color: var(--color-sexto);
    background-size: cover;
    background-position: 50% 5%;
    text-align: center;
    padding: 1rem 2rem;
    height: 100%;
}
